# 构建并保存产物
name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # 缓存 + 配置 Gradle
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582   # v4.0.0

    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

    # ===== 真正开始编译 =====
    - name: Build with Gradle
      run: ./gradlew build

    # ===== 把 jar 留下来 =====
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: LuckyDiceMod
        path: |
          build/libs/*.jar
          !build/libs/*-sources.jar
        retention-days: 30
